[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Icon=start-here-lxqt

Name=Fancy Application Menu
Comment=A menu of all your applications with favorites
Name[ar]=قائمة التطبيقات الفاخرة
Comment[ar]=قائمة بجميع تطبيقاتك مع المفضلة
Name[bg]=Старт меню
Comment[bg]=Меню с всички ваши приложения и предпочитания
Name[ca]=Menú d'aplicacions fantàstic
Comment[ca]=Un menú de totes les aplicacions i les preferides
Name[cs]=Líbivá nabídka aplikací
Comment[cs]=Nabídka se všemi vašimi aplikacemi s oblíbenými
Name[de]=Fancy-Anwendungsmenü
Comment[de]=Ein Menü mit all Ihren Anwendungen und Favoriten
Name[el]=Εξεζητημένο μενού εφαρμογών
Comment[el]=Ένα μενού όλων των εφαρμογών σας με αγαπημένες
Name[en_GB]=Fancy Application Menu
Comment[en_GB]=A menu of all your applications with favourites
Name[es]=Menú elegante de aplicaciones
Comment[es]=Un menú de todas tus aplicaciones con favoritos
Name[et]=Rakenduste kaunismenüü
Comment[et]=Kõikide rakenduste menüü koos lemmikutega
Name[eu]=Aplikazioen menu dotorea
Comment[eu]=Zure aplikazio guztien menua gogokoekin
Name[fi]=Hieno sovellusvalikko
Comment[fi]=Valikko kaikista sovelluksistasi suosikkien kera
Name[fr]=Menu d'application fantaisie
Comment[fr]=Un menu de toutes vos applications avec des favoris
Name[gl]=Menú de aplicacións elegante
Comment[gl]=Un menú de todas as túas aplicacións con favoritos
Name[he]=תפריט יישומים מפואר
Comment[he]=תפריט לכל היישומים שלך עם מועדפים
Name[hu]=Díszes alkalmazásmenü
Comment[hu]=Az összes alkalmazást tartalmazó menü kedvencekkel
Name[it]=Menu delle applicazioni Fancy
Comment[it]=Un menu di tutte le applicazioni con preferiti
Name[ja]=ファンシーアプリケーションメニュー
Comment[ja]=お気に入りと全てのアプリケーションのメニューです
Name[ka]=ლამაზი აპლიკაციის მენიუ
Comment[ka]=თქვენი ყველა აპლიკაციის მენიუ რჩეულების მხარდაჭერით
Name[ko]=고급 응용프로그램 메뉴
Comment[ko]=즐겨찾기가 포함된 모든 응용프로그램의 메뉴
Name[lg]=Menyu eya puloguramu ey'ak'ensusso
Comment[lg]=Menyu eno ekulaga puloguramu eziri ku sisitemu nga osobola\
Name[lt]=Prašmatnus programų meniu
Comment[lt]=Jūsų įprastų ir mėgstamų programų meniu
Name[nl]=Stijlvol programmamenu
Comment[nl]=Een menu met alle programma's en uw favorieten
Name[pa]=ਫੈਂਸੀ ਐਪਲੀਕੇਸ਼ਨ ਮੇਨੂ
Comment[pa]=ਤੁਹਾਡੀਆਂ ਸਾਰੀਆਂ ਮਨਪਸੰਦ ਐਪਲੀਕੇਸ਼ਨਾਂ ਦਾ ਮੇਨੂ ਹੈ
Name[pl]=Wymyślne menu programów
Comment[pl]=Menu wszystkich programów z ulubionymi
Name[pt]=Menu de aplicações elegante
Comment[pt]=Um menu de todas as suas aplicações com favoritos
Name[pt_BR]=Menu de aplicativos sofisticado
Comment[pt_BR]=Um menu com todas os aplicativos e favoritos
Name[ru]=Модное меню приложений
Comment[ru]=Меню всех ваших приложений с избранными
Name[sk]=Menu aplikácii Fancy
Comment[sk]=Menu všetkých vašich obľúbených aplikácii
Name[sv]=Stilig programmeny
Comment[sv]=En meny med alla dina program (inkl. favoriter)
Name[tr]=Süslü Uygulama Menüsü
Comment[tr]=Sık kullanılanlarla birlikte tüm uygulamalarınızın bir menüsü
Name[zh_CN]=高级应用程序菜单
Comment[zh_CN]=包含所有应用程序和收藏夹的菜单
Name[zh_TW]=華麗應用程式選單
Comment[zh_TW]=全部應用程式最愛項目的選單
