[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Icon=input-keyboard

Name=Keyboard State Indicator
Comment=Keyboard state indicator and switcher plugin (X11 only)
Name[ar]=مؤشر حالة لوحة المفاتيح
Comment[ar]=مؤشر حالة لوحة المفاتيح وتبديل اللغات (X11 فقط)
Name[bg]=Индикатор на състоянието на клавиатурата
Comment[bg]=Индикатор за състоянието на клавиатурата и плъгин за превключвател (само за X11)
Name[ca]=Indicador d'estat del teclat
Comment[ca]=Indicador d'estat del teclat i connector del commutador (només X11)
Name[cs]=Ukazatel klávesnice
Comment[cs]=Přídavný modul zobrazující kontrolky klávesnice a pro změnu rozložení
Name[da]=Tastaturtilstand-indikator
Comment[da]=Tastaturtilstand indikator- og skifte-udvidelsesmodul
Name[de]=Tastatur-LED-Anzeige
Comment[de]=Plugin zum Anzeigen der Tastatur-LEDs und Umschalten des Layouts (nur X11)
Name[el]=Ένδειξη κατάστασης πληκτρολογίου
Comment[el]=Πρόσθετο ένδειξης της κατάστασης του πληκτρολογίου και εναλλαγής (μόνο X11)
Name[en_GB]=Keyboard State Indicator
Comment[en_GB]=Keyboard state indicator and switcher plugin (X11 only)
Name[es]=Indicador de estado del teclado
Comment[es]=Complemento para mostrar y cambiar de estado del teclado
Name[et]=Klaviatuuri olek
Comment[et]=Klaviatuuri oleku näitaja ning paigutuste vahetaja (vaid X11)
Name[fi]=Näppäimistön tilan ilmaisin
Comment[fi]=Näppäimistön tilan ilmaisin/vaihtaja (vain X11)
Name[fr]=Indicateur d’état du clavier
Comment[fr]=Plugin d’indicateur et de changement d’état du clavier (X11 uniquement)
Name[he]=מחוון מצב מקלדת
Comment[he]=תוסף מחוון מצב המקלדת ומחליף מצבים (X11 בלבד)
Name[hr]=Indikator stanja tipkovnice
Comment[hr]=Priključak za indikatora stanja tipkovnice i za prebacivanje između rasporeda tipkovnice (samo X11)
Name[hu]=Billentyűzetállapot megjelenítő
Comment[hu]=Bővítmény a billentyűállapot kijelzésére és a kiosztás megváltoztatására (Csak X11)
Name[it]=Indicatore di stato della tastiera
Comment[it]=Mostra lo stato e la mappatura della tastiera (solo X11)
Name[ja]=キーボード状態インジケーター
Comment[ja]=キーボードのロック状態やレイアウトの表示と切替をします (X11 のみ)
Name[ka]=კლავიატურის მდგომარეობის მაჩვენებელი
Comment[ka]=კლავიატურის მდგომარეობის ჩვენების და გადართვის დამატება (მხოლოდ X11)
Name[ko]=키보드 상태 표시기
Comment[ko]=키보드 상태 표시기 및 전환기 플러그인 (X11 전용)
Name[lg]=Akalabiriza nkola ya mapeesa agawandisibwa
Comment[lg]=Kano kakulaga enkola etegekedwa ku mapeesa agawandisibwa era ne kakusobozesa okukyusa mapeesa g'okozesa (ku X11 kwokka)
Name[lt]=Klaviatūros būsenos indikatorius
Comment[lt]=Klaviatūros būsenos ir išdėstymų perjungimo įskiepis (tik X11)
Name[lv]=Tastatūras stāvokļa indikators
Comment[lv]=Tastatūras stāvokļa (izkārtojumu pārslēdža) indikators un\
Name[nb_NO]=Tastaturtilstandsindikator
Comment[nb_NO]=Tastaturindikator og bytter
Name[nl]=Toetsenbordstatusindicator
Comment[nl]=Toon de toetsenbordstatus en schakel tussen indelingen (werkt alleen op X11)
Name[pl]=Wskaźnik stanu klawiatury
Comment[pl]=Wskaźnik i przełącznik stanu klawiatury (tylko X11)
Name[pt]=Indicador de estado do teclado
Comment[pt]=Plugin indicador/comutador do teclado (apenas X11)
Name[ru]=Индикатор раскладки клавиатуры
Comment[ru]=Индикатор и плагин переключателя раскладки клавиатуры(Только для X11)
Name[sk]=Klávesnice
Comment[sk]=Zásuvný modul stavu a prepínača klávesnice (iba X11)
Name[sv]=Låstangentsindikator
Comment[sv]=Indikerar status för låstangenter och layout-väljare (X11-insticksprogram)
Name[tr]=Klavye Durumu Göstergesi
Comment[tr]=Klavye durum göstergesi ve değiştirici eklentisi (yalnızca X11)
Name[uk]=Покажчик стану клавіатури
Comment[uk]=Модуль покажчика стану клавіатури та перемикання (лише X11)
Name[zh_CN]=键盘状态指示器
Comment[zh_CN]=键盘状态指示器与切换器插件
Name[zh_TW]=鍵盤狀態指示器
Comment[zh_TW]=鍵盤狀態指示器及切換外掛(僅 X11)
