[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Icon=qeyes

Name=QEyes
Comment=A follow the mouse demo
Name[ar]=كيو آيز
Comment[ar]=اتبع العرض التوضيحي للماوس
Name[bg]=QEyes
Comment[bg]=Следвайте демонстрацията на мишката
Name[ca]=QEyes
Comment[ca]=Una demostració de seguir el ratolí
Name[cs]=QEyes
Comment[cs]=Demo „následovat myš“
Name[da]=QEyes
Comment[da]=En følg musemarkør demo
Name[de]=QEyes
Comment[de]=Eine Demo zum Folgen der Maus
Name[el]=QEyes
Comment[el]=Μια επίδειξη παρακολούθησης του ποντικιού
Name[en_GB]=QEyes
Comment[en_GB]=A follow the mouse demo
Name[et]=QEyes
Comment[et]=Hiirekursori jälgimist näitav demorakendus
Name[fi]=QEyes
Comment[fi]=Hiirtä seuraava testisovellus
Name[fr]=QEyes
Comment[fr]=Une démonstration de suivi de la souris
Name[he]=Qעיניים
Comment[he]=הדגמת מעקב אחר העכבר
Name[hu]=QEyes
Comment[hu]=Egérmutatót követő bemutató
Name[it]=QEyes
Comment[it]=Seguire il Mouse - Demo
Name[ja]=QEyes
Comment[ja]=マウスカーソルを追いかけるデモです
Name[ka]=QEyes
Comment[ka]=თაგუნას გაყოლის დემონსტრაცია
Name[kab]=QEyes
Name[kk]=QEyes
Comment[kk]=Тышқан курсоры соңынан ерудің мысалы
Name[ko]=QEyes
Comment[ko]=마우스 데모 따라하기
Name[lg]=QEyes
Comment[lg]=Puloguramu egezesa enkola y'akasongesebwa
Name[lt]=QEyes
Comment[lt]=Sekimo paskui pelę demonstracija
Name[nl]=QEyes
Comment[nl]=Een volg-de-muistest
Name[oc]=QEyes
Comment[oc]=Una demonstracion de seguiment de la mirga
Name[pl]=QEyes
Comment[pl]=Pokaz podążania za myszką
Name[pt]=QEyes
Comment[pt]=Uma demonstração de seguir o rato
Name[ru]=QEyes
Comment[ru]=Демонстрация следования за мышью
Name[sk]=QOko
Comment[sk]=Nasleduj myš
Name[sr]=Кју-ајс
Comment[sr]=Проба праћења миша
Name[sv]=QEyes
Comment[sv]=Nyfikna ögon som följer muspekaren
Name[tr]=QEyes
Comment[tr]=Fareyi izle demosu
Name[zh_CN]=QEyes
Comment[zh_CN]=鼠标跟随演示程序
Name[zh_TW]=QEyes
Comment[zh_TW]=跟隨游標呈現眼球轉動
