[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Icon=go-bottom
Name=Status Notifier
Comment=Provides the notification area (aka systray)
Name[ar]=ملحقة لمُخطر الحالة
Comment[ar]=يوفر منطقة الإعلام (الملقب systray)
Name[bg]=Област на системни известия
Comment[bg]=Показване на системни известия ( т.нар. систрей)
Name[ca]=Connector de notificacions d'estat
Comment[ca]=Proporciona l'àrea de notificació (safata del sistema)
Name[cs]=Stavové zprávy
Comment[cs]=Zásuvný modul poskytující oznamovací oblast (systray)
Name[da]=Statusunderretter
Comment[da]=Giver underretningsområdet (også kendt som systembakke)
Name[de]=Statusbenachrichtigungen
Comment[de]=Plugin für Statusbenachrichtigungen
Name[el]=Πρόσθετο ειδοποίησης κατάστασης
Comment[el]=Η περιοχή ειδοποιήσεων πλαισίου συστήματος
Name[en_GB]=Status Notifier
Comment[en_GB]=Provides the notification area (aka systray)
Name[es]=Complemento de notificaciones de estado
Comment[es]=Brinda el área de notificaciones (conocida también como bandeja\
Name[et]=Olekuteataja
Comment[et]=Teadete ja teatiste vidin (tuntud ka kui süsteemisalv)
Name[fi]=Tilailmoitin
Comment[fi]=Muodostaa ilmoitusalueen (ts. systray)
Name[fr]=Information du statut
Comment[fr]=Greffon d'information du statut
Name[he]=התראות מצב
Comment[he]=מספק את אזור ההתראות (ידוע גם בשם מגש המערכת)
Name[hr]=Obavijesti o stanju
Comment[hr]=Pruža područje za obavijesti (poznato kao programska traka)
Name[hu]=Állapotjelzés
Comment[hu]=Állapotértesítő bővítmény
Name[it]=Area di notifiche
Comment[it]=Fornisce l'area di notifica (vassoio)
Name[ja]=ステータス通知
Comment[ja]=通知領域を確保します (別名 システムトレイ)
Name[ka]=სტატუსის გაფრთხილება
Comment[ka]=გაჩვენებთ გაფრთხილებების ადგილს (ანუ სისტემის კუთხეს)
Name[kk]=Хабарландырулар плагині
Comment[kk]=Хабарландырулар аймағын жасайды (жүйелік трей)
Name[ko]=상태 알림이
Comment[ko]=알림 영역 제공(일명 systray)
Name[lg]=Kamanyisa Mbeera
Comment[lg]=Kano kateekawo ekifo ku lubaawo omulabikira bubaka obukwata ku mbeera ya sisitemu ne puloguramu
Name[lt]=Būsenos pranešimų įskiepis
Comment[lt]=Pateikia pranešimų sritį (dar žinomą kaip sistemos dėklas)
Name[lv]=Statusa paziņotājs - spraudnis
Comment[lv]=Izveido paziņojumu lauku (aka sistēmas treju/tekni)
Name[nb_NO]=Statusvarsler
Comment[nb_NO]=Gir varslingsområdet (også kjent som systemkurven)
Name[nl]=Systeemvak
Comment[nl]=Systeemvak-invoegtoepassing
Name[oc]=Connector de notificacions d’estat
Comment[oc]=Provesís d’informacions per las notificacions
Name[pa]=ਹਾਲਤ ਨੋਟੀਫਾਇਰ
Comment[pa]=ਨੋਟੀਫਿਕੇਸ਼ਨ ਖੇਤਰ (systray) ਦਿੰਦਾ ਹੈ
Name[pl]=Wtyczka powiadomień o stanie
Comment[pl]=Zapewnia obszar powiadomień (zasobnik systemowy)
Name[pt]=Plugin Status Notifier
Comment[pt]=Um plugin para notificar sobre o estado
Name[pt_BR]=Notificador de status
Comment[pt_BR]=Fornece notificações da área de trabalho (systray)
Name[ru]=Плагин уведомлений
Comment[ru]=Создаёт область уведомления (системный трей)
Name[sk]=Stavové správy
Comment[sk]=Poskytuje oblasť oznamov (systray)
Name[sv]=Statusaviserare
Comment[sv]=Insticksmodul för status meddelanden
Name[tr]=Durum Bildirici
Comment[tr]=Bildirim alanı sağlar (diğer adıyla sistem çekmecesi)
Name[uk]=Сповіщувач стану
Comment[uk]=Створює область сповіщень (системний лоток)
Name[zh_CN]=状态提示器
Comment[zh_CN]=状态提示器插件
Name[zh_TW]=狀態通知器
Comment[zh_TW]=提供通知區域(即為系統匣)
