[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Icon=go-bottom

Name=System Tray
Comment=Maps obsolete xembed icons to Status Notifier
Name[ar]=صينيّة النّظام
Comment[ar]=خرائط رموز xembed المتقادمة إلى Status Notifier
Name[bg]=Системна област
Comment[bg]=Напасва старите икони към Status Notifier
Name[ca]=Safata del sistema
Comment[ca]=Assigna les icones obsoletes de «xembed» al notificador d'estat
Name[cs]=Oznamovací oblast panelu
Comment[cs]=Mapuje zastaralé xembed ikony na Stavové zprávy
Name[da]=Statusfelt
Comment[da]=Mapper forældede xembed-ikoner til Status Notifier
Name[de]=Benachrichtigungsfläche
Comment[de]=Ordnet veraltete xembed-Symbole dem Statusmelder zu
Name[el]=Πλαίσιο συστήματος
Comment[el]=Συσχέτιση των παρωχημένων εικόνων xembed για τον ειδοποιητή\
Name[en_GB]=System Tray
Comment[en_GB]=Maps obsolete xembed icons to Status Notifier
Name[eo]=Sistempleto
Name[es]=Bandeja del sistema
Comment[es]=Muestra los iconos XEmbed obsoletos en el notificador de estado
Name[es_VE]=Barra de sistema
Name[et]=Süsteemisalv
Comment[et]=Kuvab aegunud xembed ikoonid olekuteatistes
Name[eu]=Ataza-barra
Comment[eu]=Horrek esan nahi du SNI protokolo modernoa onartzen ez duten\
Name[fi]=Ilmoitusalue
Comment[fi]=Sitoo vanhennetut xembed-kuvakkeet tilailmoitin-lisäosaan
Name[fr]=Zone de notification
Comment[fr]=Mappe les icônes xembed obsolètes pour Status Notifier
Name[he]=מגש המערכת
Comment[he]=המפות מיתרות את xembed שיופיעו על Status Notifier
Name[hr]=Programska traka
Comment[hr]=Preslikava zastarjele xembed ikone u „Obavijesti o stanju“
Name[hu]=Rendszertálca
Comment[hu]=Elavult XEmbed ikonokat társít a Status Notifier-hez
Name[is]=Kerfisbakki
Comment[is]=Varpa úreltum innbyggðum táknum á Stöðuslá
Name[it]=Vassoio di sistema
Comment[it]=Mostra le icone xembed obsolete nell'area di notifica
Name[ja]=システムトレイ
Comment[ja]=古い xembed アイコンを [ステータス通知] プラグインにマッピングします
Name[ka]=სისტემის კუთხე
Comment[ka]=მოძველებული xembed-ის ხატულების ასახვა სტატუსის გამფრთხილებელში
Name[kk]=Жүйелік сөре
Comment[kk]=Ескірген xembed таңбашаларын Status Notifier жүйесіне сәйкестендіреді
Name[ko]=시스템 트레이
Comment[ko]=사용되지 않는 xembed 아이콘을 상태 알림이 플러그인에 매핑
Name[lg]=Kakuŋaanyizo
Comment[lg]=Kano kasobozesa obufaananyi bwa puloguramu ezibumbujja okulabikira ku lubaawo
Name[lt]=Sistemos dėklas
Comment[lt]=Susieja pasenusias xembed piktogramas su būsenos pranešimų\
Name[lv]=Sistēmas tekne (tray)
Comment[lv]=Norakstīts, lūgums lietot statusa paziņotāja/paziņojumu spraudni!
Name[nb_NO]=Systemkurv
Comment[nb_NO]=Tilordner foreldede xembed-ikoner til Statusvarsler
Name[nl]=Systeemvak
Comment[nl]=Koppelt verouderde xembed-pictogrammen aan de systeemvak-invoegtoepassing
Name[oc]=Zòna de notificacion
Comment[oc]=Junta las icònas xembed obsolètas amb Status Notifier
Name[pa]=ਸਿਸਟਮ ਟਰੇ
Name[pl]=Zasobnik systemowy
Comment[pl]=Mapuje przestarzałe ikony xembed na Status Notifier
Name[pt]=Bandeja do sistema
Comment[pt]=Mapeia ícones xembed obsoletos para o Notificador de Estado
Name[pt_BR]=Área de notificação
Comment[pt_BR]=Mapeia os ícones Xembed obsoletos para o Notificador de Status
Name[ro]=Zonă de notificare
Name[ru]=Системный лоток
Comment[ru]=Привязывать устаревшие иконки XEmbed к Status Notifier
Name[sk]=Oznamovacia oblasť
Comment[sk]=Mapuje staršie ikony z niektorých aplikácii do oznamovacej\
Name[sl]=Sistemska vrstica
Name[sr]=Системска касета
Comment[sr]=Мапира застареле xembed иконе у статусног обавештавача
Name[sr@ijekavian]=Системска касета
Comment[sr@ijekavian]=Мапира застарјеле xembed иконе у Статус нотифајер
Name[sr@ijekavianlatin]=Sistemska kaseta
Name[sr@latin]=Sistemska kaseta
Name[sv]=Systemfält
Comment[sv]=Tilldelar föråldrade xembed-ikoner till statusaviseraren
Name[th]=ถาดระบบ
Name[tr]=Sistem çekmecesi
Comment[tr]=Eski xembed simgelerini Durum Bildiricisine eşler
Name[uk]=Системний лоток
Comment[uk]=Показує застарілі xembed піктограми до сповіщень стану
Name[zh_CN]=系统托盘
Comment[zh_CN]=将过时的xembed图标映射到状态通知程序上
Name[zh_TW]=系統匣
Comment[zh_TW]=將已經過時的 xembed 圖示對映到狀態通知
